<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech-to-Text Web App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.7.1/dist/jszip.min.js"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <div class="history-container">
        <h1>History</h1>
        <button id="refresh-button">refresh</button>
        <ol>
            <!-- Add recordings here -->
        </ol>
    </div>


    <div class="container">
        <h1>The Translate-Inator</h1>
        <hr class="title-line">

        <!-- Recording buttons -->
        <div class="button-container">
            <button id="startBtn">Start Recording</button>
            <button id="stopBtn" disabled>Stop Recording</button>
        </div>

        <!-- Transcription display -->
        <p id="transcription" class="transcription-text">Your transcription will appear here...</p>

        <!-- Action buttons (Translate/Pronounce) -->
        <div class="action-buttons">
            <button id="translatetxt" disabled>Translate</button>
            <button id="pronouncetxt" disabled>Pronounce</button>
        </div>

        <!-- Translated text -->
        <p id="translatedText" class="translated-text">Translated text will appear here...</p>
    </div>

    <div class="history-container">
        <!-- <h1></h1> -->
        <!-- <li>
        </li> -->
    </div>

    <!-- Link to JavaScript -->
    <!-- <script src="{{ url_for('static', filename='app.js') }}"></script> -->
    <script type="module" src="../static/app.js"></script>
</body>
</html>
